#mjj-quiz{
	margin-top: 2em;

	.questions-list{

		.the-question{
			p{
				display: inline-block;
				margin-left: 1%;
			}
		}

		.odd, .even{
			padding: 2%;
		}

		.results-box{
			margin-top: 2em;
			font-size: 1rem;
			padding: 1em 4em 1.5em;
			text-align: center;
			border: 1px solid #ccc;
			background-color: #f2f2f2;

			p{
				text-align: left;
				font-size: 1rem;
			}

			h3{
				&.results-points{
					background-color: #FFFF00;
					display: inline-block;
					padding: 0.5em;
					margin: 0;
				}
				&.results-range{
					margin: 0 0 0.5em 0;
				}
			}
		}
	}

	.answer-list{
		display: flex;
		justify-content: center;
		font-size: 1em;
	}

	button{
		padding: 1em;
		margin: 1em;
		width: 25%;
		background: #f2f2f2;
		color: #000000;

		&.selected{
			background: #616161;
			color: #FFF;
		}
	}

}