#mjj-quiz{
	margin-top: 2em;

	.questions-list{
		font-size: 1.5em;
		list-style-position: inside;

		.the-question{
			margin-top: 1em;
		}

		.results-box{
			margin-top: 2em;
			font-size: 1rem;
			padding: 1em 4em 1.5em;
			text-align: center;
			border: 1px solid #ccc;
			background-color: #f2f2f2;

			p{
				text-align: left;
				font-size: 1rem;
			}

			h4{
				background-color: #FFFF00;
				display: inline-block;
				padding: 0.5em;
				margin: 0;
			}

			h3{
				margin: 0 0 0.5em 0;
			}
		}
	}

	.answer-list{
		display: flex;
		justify-content: center;
		font-size: 1em;
	}

	button{
		padding: 1em;
		margin: 1em;
		width: 25%;
		background: #f2f2f2;
		color: #000000;

		&.selected{
			background: #616161;
			color: #FFF;
		}
	}

}